.offcanvas{
    background-color: rgb(146, 206, 244);
    border-radius:  40px 40px 40px 40px;
    height: 400px;
    border: 2px solid rgb(211, 11, 11);
    
    position:absolute;
}
.linkt {
    position: relative;
}
.navstyle{
    background-color: rgb(249, 222, 222);
    
    
    
}


.link{
  
font-size: 30px;
background-color: blue;
color: aliceblue;
border-radius: 10px;
text-align: center;
margin: 5px;
}

@media (max-width:500px){
    .navstyle{
        width: 100%;
        
    }
}



