.footer{
    background-color: #0099ff;
    margin-top: 120px;
}
.links{
    text-decoration: none;
    color: black;
}
.rashed{
    color: blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.rash{
    color: rgb(78, 27, 74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
