.banner{
    width: 100%;
    height: 730px;
    background-color: rgb(249, 222, 222);
    background-blend-mode:screen ;
    
}
.wave{
    position: absolute;
    left: 0;
    margin-top: 40px;
    
    
    
    

}

.img1{
    position: absolute;
    bottom: 0;
    height: 480px;
}
.img2{
    position: absolute;
    bottom: 0;
}

.banner-info{
   margin-top: 250px;
}
.btn-1{
    width:200px;
    height: 50px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(222, 19, 157);
   border-radius: 5px;
   letter-spacing: 2px;
   transition: ease-out 0.6s;
   box-shadow: inset 0 0 0 0 rgb(85, 245, 229) ;
  

}
.btn-1:hover{
    box-shadow: inset 220px 0 0 0  rgb(58, 240, 176);
    cursor: pointer;
    color: black;
   
}


.btn-2{
    margin-left: 30px;
    width:200px;
    height: 50px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(222, 19, 157);
   border-radius: 5px;
   letter-spacing: 2px;
   transition: ease-in-out 0.6s;
   box-shadow: inset 0 0 0 0 rgb(85, 245, 229) ;
   
}
.btn-2:hover{
    box-shadow: inset 220px 0 0 0  rgb(58, 240, 176);
    cursor: pointer;
    color: black;
}